body {
    font-family: 'Lato', 'Arial';
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A6591;;
}
.navbar-all {
    display: flex;
    gap: 40vw;
    align-items: center;
    background-color: #3A6591;;
}
.navbar-all img {
    width: 4rem;
    display: flex;
    justify-content: flex-start;
}

.navbar-all div {
    display: flex;
}

.navbar-all a {
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navbar-all a:hover {
    background-color: white;
    color: black;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links.active {
    display:block;
}

.links {
    background-color: transparent;
    border: none;
    width:fit-content;
    font-size: 16px;
    color: white;
    font-family: 'Lato', 'Arial';
}

.links :focus, .links :active, .links :hover {
    background-color: white;
}

.links option {
    color: black;
}

.hamburger p {
    display: none;
    cursor: pointer;
    color: white;
}

.hero img {
    width: 100% !important;
}

.charts {
    width: 80%;
    margin:auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}

.barChartCard {
    background-color: #D9D9D9;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8vw;
    padding-bottom: 4vw;
}

.queryForms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2vw;
    border-bottom: 1px solid black;
    width: 100%;
}

.queryForms form {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    margin: 4vw 2vw 0 2vw;
}

.queryForms select {
    height: 100%;
}

@media (width<=800px) {
    .queryForms form {
        flex-direction: column;
        gap: 0; 
        margin-right: 0;
    }
}

#chart-container {
    width: 100%;
    height: auto;
}

.heatmap { 
    display: flex; 
    justify-content: flex-end; 
    width: 100%; 
    height: 400px; 
    margin-top: 12vw;
    margin-bottom: 20vw;
}

.heatmapCard { 
    display: flex; 
    align-items: center; 
    gap: 20px;
    width: 100%; 
}

@media (width<=1000px) {
    .hamburger p {
        display: block;
    }
    .nav-links {
        background-color: white;
        z-index: 1;
        display: none;
        flex-direction: column;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links a, select {
        display: none;
    }
    .heatmapCard {
        flex-direction: column;
    }
    .textContainer {
        width: 100%;
        max-width: none;
    }
    .textContainer h1, p {
        width: 100%;
        text-align: center;
    }
    #map {
        min-height: 400px;
    }
    .heatmap {
        margin-top: 600px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
}

.textContainer { 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    text-align: left; 
    max-width: 40%;
}

#map {
    border-radius: 25px;
}

.twitterFooter {
    display: flex;
    width: 100%;
    background-color: #3E90B0;
    align-items: center;
    justify-content: center;
    padding: 2vw 0 2vw 0;
}

.twitterFooter img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrightFooter {
    display: flex;
    width: 100%;
    background-color: #B2BABD;
    align-items: center;
    justify-content: center;
    padding: 2vw 0 2vw 0;
}

.copyrightFooter img {
    display: flex;
    align-items: center;
    justify-content: center;
}