body {
    font-family: 'Lato', 'Arial';
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3A6591;
    padding: 0 9vw;
}

.navbar img {
    width: 4rem;
}

.navbar div {
    display: flex;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.links {
    background-color: transparent;
    border: none;
    width:fit-content;
    font-size: 16px;
    color: white;
    font-family: 'Lato', 'Arial';
}

.links :focus, .links :active, .links :hover {
    background-color: white;
}

.links option {
    color: black;
}

.hero img {
    width: 100% !important;
}

table {
    flex:auto;
    flex-direction: column;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
  }

  th, td {
    text-align: center;
    border: 1px solid black;
  }

  th {
    text-align: center;
  }

.barChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5vw;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
}
