/* General body styling */
body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Navbar styling */
.navbar {
    background-color: #3A6591;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    margin: 0 8vw;
}

.logo img {
    width: 4rem;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.nav-links .dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-bottom: solid black 1px;
    margin: 0 1rem;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
    border: solid black 1px;
}

.nav-links li:hover > a {
    background-color: white;
    opacity: 80%;
    color: #3A6591;
}

.nav-links .dropdown:hover #dropdown {
    display: none;
}

.nav-links .dropdown:hover #dropup {
    display: inline;
}

.dropbtn:hover #dropdown {
    display: none;
}

.dropbtn #dropup {
    display: none;
}

.dropbtn:hover #dropup {
    display:inline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.icon {
    display: flex;
    color: white;
    align-items: center;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 6rem;
    right: 0;
    width: fit-content;
    z-index: 1;
    border: black solid 1px;
    margin-right: 0.5rem;
}

.mobile-menu a {
    padding: 2vw;
    color: black;
    text-decoration: none;
    border-bottom: black solid 1px;
    margin: 0 1rem;
}

#hospitalization {
    border-bottom: none;
}

@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.active {
        display: flex;
    }
}

/* Map and Sidebar Styling */
.container {
    display: flex;
    height: calc(100vh - 120px);
}

.sidebar {
    width: 300px;
    background-color: #f8f9fa;
    padding: 15px;
    overflow-y: auto;
}

#location-list {
    margin-top: 10px;
}

/* Location Item Styling */
.location-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
}

.location-item h3 {
    font-weight: bold;
    font-size: 1.1em;
    color: #007bff;
}

#map {
    flex-grow: 1;
    height: 100%;
}

/* Footer styling */
.twitterFooter {
    display: flex;
    width: 100%;
    background-color: #3E90B0;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
}

.twitterFooter img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrightFooter {
    display: flex;
    width: 100%;
    background-color: #B2BABD;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
}